.miniCards {
  background-color: #fff;
  margin-bottom: 1rem;
}

.title {
  color: #54bcf4 !important;
  font-size: 32px !important;
  margin-bottom: 20px;
  font-weight: bold;
}

.button {
  background-color: #54bcf4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #3ca2d0;
  color: white;
}

.cardTaskTitle {
  color: darkslategrey !important;
  font-weight: bold; 
}